@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.toolbar {
    display: flex;
    gap: 1rem;
    background: white;
    box-shadow: 0 1px 10px 2px #dddddd;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.toolbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(32, 32, 32);
    padding: 1rem;
}

.toolbar a:hover {
    background: #e6e6e6;
}

.toolbar input {
    padding: .5rem;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 5px #e3e3e3;
    background: white;
}

.book-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: min(100%, 60rem);
    align-self: center;
    padding: 1rem 0;
}

.book-list div {
    display: grid;
    grid-template-columns: 1fr repeat(3, min-content);
    border: 1px solid #efefef;
    box-shadow: 0 0 5px 5px #efefef;
    border-radius: 5px;
    padding: .5rem;
    column-gap: .5rem;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.book-utils {
    display: flex;
    width: min(100%, 60rem);
    align-self: center;
    justify-content: end;
}

.book-utils button {
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #2062e4;
    background: #2062e4;
    color: white;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.book-utils button:hover {
    background: white;
    color:#2062e4;
}

.btn-icon {
    padding: .3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-icon-remove {
    content: url('../icons/delete.svg');
    background: #ec4c4c;
    border: 1px solid #ec4c4c;
}

.btn-icon-remove:hover {
    background: white;
    content: url('../icons/delete-red.svg');
}

.btn-icon-edit {
    content: url('../icons/edit.svg');
    background: #ecc44c;
    border: 1px solid #ecc44c;
}

.btn-icon-edit:hover {
    background: white;
    content: url('../icons/edit-orange.svg');
}

.btn-icon-view {
    content: url('../icons/eye.svg');
    background: #34a1e0;
    border: 1px solid #34a1e0;
}

.btn-icon-view:hover {
    content: url('../icons/eye-blue.svg');
    background: #ffffff;
}