<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../assets/js/book.js"></script>
    <title>Book</title>
</head>
<body>
    <header class="toolbar">
        <div>
            <a href="index.html">Inicio</a>
            <a href="add_book.html">Libros</a>
        </div>
    </header>
    <div class="book">
        <div class="book-img">
            <img id="book_img">
        </div>
        <div class="book-details">
            <input id="title" type="text" readonly>
            <input id="author" type="text" readonly>
            <input id="category" type="text" readonly>
            <input id="isbn" type="text" readonly>
            <input id="date" type="text" readonly>
        </div>
    </div>
</body>
</html>