<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
</head>
<body>
    <form id="login">
        <div>
            <label>Email</label>
            <input type="text" name="email" placeholder="Añade tu email">
        </div>
        <div>
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Introduce tu contraseña">
        </div>
        <div>
            <button id="login_btn" type="button">Iniciar sesión</button>
        </div>
    </form>
</body>
</html>